$title-font: 'Fjalla One', sans-serif;
// $title-font: 'Dosis', sans-serif;
$secondary: 'Montserrat', sans-serif;
$body: 'Open Sans', sans-serif;
// $body-font: 

body {
    // font-family: $body-font;
    font-size: 16px;
}